.profile__opacity-image {
    display: block;
    position: relative;
}

.profile__opacity-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
    rgba(0,0,0,.5);
    opacity: 0; 
}

.profile__opacity-image:hover:after{
    opacity: 1;
    background-image: url(..//..//..//images/pen.png);
    background-repeat: no-repeat;
    background-position: center;
}