.footer__content {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 66px 0 56px;
}

@media screen and (max-width: 1024px) {
    .footer__content {
        margin: 33px auto 28px;
        max-width: 581px;
    }
}

@media screen and (max-width: 768px) {
    .footer__content {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
        margin: 48px auto 33px;
    }
}
