.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 0 30px;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .profile__title {
        font-size: 33px;
        line-height: 39px;
        margin: 0 0 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        margin: 26px 0 0;
        max-width: 189px;
    }
}
